@using Loteria.Data.Core
@using Loteria.Data.Helper
@using Loteria.Data.Models
@using Loteria.Data.Services
@using Loteria.Database.Pagination
@using Radzen
@using Radzen.Blazor

@inject LotoServices LotoServices

<p>Estadistica en base a los tickets generados desde el 2010 hasta hoy.</p>
<div class="charts">
    <div class="columns is-multiline is-vcentered is-mobile lg-line" style="align-items: flex-start">
        <div class="column is-12 lg-center-flex">
            <table>
                <tbody>
                    <tr>
                        <th>Número</th>
                        <th @onclick=@( () => SortBy())>Frecuencia</th>
                        <th>Porcentaje(%)</th>
                    </tr>
                    @for (int i = 0; i <= 99; i++)
                    {
                        <tr>
                            <td>@string.Format("{0,2:00}", @Data[i].Number)</td>
                            <td>@Data[i].Frequency</td>
                            <td><b>@Data[i].Percentage.ToString("N2")% </b></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    List<Tripleta> Tripletas = new();

    List<DataItem> Data = new();
    List<DataItem> DataYear = new();

    int[] FrequencyOfNumbers = new int[100];
    bool pressed;

    protected override void OnInitialized()
    {
        Generator gen = new();

        /// Todos salidos anteriormente
        string table = "tripleta";
        Tripletas = LotoServices.GetAll<Tripleta>(table);

        float count = Tripletas.Count;

        FrequencyOfNumbers = gen.GetFrequentNumber(Tripletas);

        for (int i = 0; i <= 99; i++)
        {
            int num = FrequencyOfNumbers[i];
            Data.Add(new DataItem() { Frequency = num, Number = i, Percentage = (num / count) * 100f });
        }

        base.OnInitialized();
    }

    public class DataItem
    {
        public int Frequency { get; set; }
        public int Number { get; set; }
        public float Percentage { get; set; }
    }

    public void SortBy()
    {
        pressed = !pressed;
        if (pressed)
        {
            Data = Data.OrderByDescending(x => x.Frequency).ToList();
        }
        else
        {
            Data = Data.OrderBy(x => x.Frequency).ToList();
        }
        StateHasChanged();
    }
}