@page "/charts"

@using Loteria.Pages
@using Microsoft.AspNetCore.Mvc

<div class="container-flex" style="margin-bottom: 2vh;">
    <!-- Views -->
    <label>
        Select the charts
        <select @bind="@SelectedReport" class="form-inline input-sm">
            <option value="0">Loto</option>
            <option value="1">Tripleta</option>
        </select>
    </label>
</div>

<ErrorBoundary>
    <Charts SelectedTicket=@SelectedReport />
</ErrorBoundary>

@code {
    [BindProperty]
    public int SelectedReport { get; set; }
}